.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  background: linear-gradient(145deg, var(--ifm-color-primary-darkest), var(--ifm-color-primary));
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.buttonsContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.buttonContent {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 600;
}

.blogButton {
  background-color: var(--ifm-color-secondary-darkest);
  border: 2px solid var(--ifm-color-secondary-darkest);
}

.blogButton:hover {
  background-color: transparent;
  color: var(--ifm-color-secondary-darkest);
}

.docButton {
  border: 2px solid var(--ifm-color-primary-lightest);
}

.docButton:hover {
  background-color: var(--ifm-color-primary-lightest);
  color: var(--ifm-color-primary-darkest);
}

@media (max-width: 768px) {
  .buttonsContainer {
    flex-direction: column;
  }
  
  .title {
    font-size: 2rem;
  }
}
